In [1]:
#importing necessary libraries
import selenium 
import pandas as pd
from selenium import webdriver
import time
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver import ActionChains

# Most viewed videos on YouTube

In [3]:
driver=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [4]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')#opening wikipedia in our browser

In [8]:
#creating necessary lists to store our data
rank=[]
name=[]
artist=[]
views=[]
date=[]
all_data=[]

In [9]:
#we can get all the required data from one xpath
tab=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter'][1]/tbody/tr/td")
for val in tab: 
    all_data.append(val.text) #storing all the required data in one list

In [18]:
#slicing and storing data at correspodning lists
rank=all_data[0::6] 
name=all_data[1::6]
artist=all_data[2::6]
views=all_data[3::6]
date=all_data[4::6]

In [24]:
#filtering data
filtered_name=[]
for val in name:
    filtered_name.append(val.split("[")[0])

In [177]:
print(len(filtered_name),len(artist),len(views),len(date),len(rank)) #checking length of each list

30 30 30 30 30

In [25]:
df=pd.DataFrame({"Video_Name":filtered_name,"Artist":artist,"Views(in billions)":views,"Upload_Date":date},index=rank)
df.index.name="Rank"
df #creating dataframe from our scraped data

,Video_Name,Artist,Views(in billions),Upload_Date
Rank,,,,
1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,10.92,"June 17, 2016"
2.,"""Despacito""",Luis Fonsi,7.90,"January 12, 2017"
3.,"""Johny Johny Yes Papa""",LooLoo Kids,6.39,"October 8, 2016"
4.,"""Shape of You""",Ed Sheeran,5.76,"January 30, 2017"
5.,"""See You Again""",Wiz Khalifa,5.56,"April 6, 2015"
6.,"""Bath Song""",Cocomelon – Nursery Rhymes,5.50,"May 2, 2018"
7.,"""Phonics Song with Two Words""",ChuChu TV,4.71,"March 6, 2014"
8.,"""Uptown Funk""",Mark Ronson,4.62,"November 19, 2014"
9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,4.59,"February 27, 2018"
10.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,4.50,"January 31, 2012"
11.,"""Gangnam Style""",Psy,4.47,"July 15, 2012"
12.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,4.18,"May 24, 2018"
13.,"""Dame Tu Cosita""",El Chombo,3.97,"April 5, 2018"
14.,"""Sugar""",Maroon 5,3.72,"January 14, 2015"
15.,"""Roar""",Katy Perry,3.61,"September 5, 2013"
16.,"""Counting Stars""",OneRepublic,3.60,"May 31, 2013"
17.,"""Sorry""",Justin Bieber,3.56,"October 22, 2015"
18.,"""Thinking Out Loud""",Ed Sheeran,3.47,"October 7, 2014"
19.,"""Axel F""",Crazy Frog,3.42,"June 16, 2009"
20.,"""Girls Like You""",Maroon 5,3.31,"May 31, 2018"
21.,"""Faded""",Alan Walker,3.30,"December 3, 2015"
22.,"""Dark Horse""",Katy Perry,3.30,"February 20, 2014"
23.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,3.28,"June 25, 2018"
24.,"""Let Her Go""",Passenger,3.26,"July 25, 2012"
25.,"""Bailando""",Enrique Iglesias,3.23,"April 11, 2014"
26.,"""Lean On""",Major Lazer,3.23,"March 22, 2015"
27.,"""Perfect""",Ed Sheeran,3.20,"November 9, 2017"
28.,"""Shake It Off""",Taylor Swift,3.19,"August 18, 2014"
29.,"""Waka Waka (This Time for Africa)""",Shakira,3.18,"June 4, 2010"
30.,"""Mi Gente""",J Balvin,3.10,"June 29, 2017"

In [26]:
driver.close() #closing our browser

# India’s international fixtures

In [34]:
driver1=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [35]:
driver1.get('https://www.bcci.tv/') #opening BCCI site in our browser

In [36]:
inter_link=driver1.find_element_by_xpath("/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a")
inter_link.click() #clicking on international link

In [37]:
#creating necessary lists to store data
series=[]
match_title=[]
match_date=[]
match_venue=[]
match_time=[]

In [47]:
#scraping series name with xpath
ser=driver1.find_elements_by_xpath("//span[@class='ng-binding']")
for val in ser:
    series.append(val.text) #appending only text

In [39]:
#scraping date with xpath
date=driver1.find_elements_by_xpath("//h5[@class='ng-binding']")
for val in date:
    match_date.append(val.text)#appending only text

In [40]:
#scraping match timing with xpath
timing=driver1.find_elements_by_xpath("//h5[@class='text-right ng-binding']")
for val in timing:
    match_time.append(val.text) #appending only text

In [41]:
#scraping match title
title=driver1.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']")
for val in title:
    match_title.append(val.text.strip("-"))#appending only text and removing - from data

In [42]:
#scraping match venue
venue=driver1.find_elements_by_xpath("//div[@class='fix-place ng-binding ng-scope']")
for val in venue:
    match_venue.append(val.text.split("-")[1])#appending only text and removing unrequired data

In [48]:
print(len(match_title),len(series),len(match_venue),len(match_date),len(match_time)) #checking length of each column

8 8 8 8 8

In [49]:
#creating dataframe with our scraped data
df1=pd.DataFrame({"Match_title":match_title,"Series":series,"Venue":match_venue,"Date":match_date,"Time":match_time})
df1

,Match_title,Series,Venue,Date,Time
0,3rd ODI,INDIA TOUR OF ENGLAND ODI SERIES 2022,"Old Trafford, Manchester",17 JUL 2022,3:30 PM IST
1,1st ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",22 JUL 2022,7:00 PM IST
2,2nd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",24 JUL 2022,7:00 PM IST
3,3rd ODI,INDIA TOUR OF WEST INDIES ODI SERIES 2022,"Queens Park Oval, Trinidad",27 JUL 2022,7:00 PM IST
4,1st T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Brian Lara Stadium, Trinidad",29 JUL 2022,8:00 PM IST
5,2nd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park, St Kitts",1 AUG 2022,8:00 PM IST
6,3rd T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,"Warner Park, St Kitts",2 AUG 2022,8:00 PM IST
7,4th T20I,INDIA TOUR OF WEST INDIES T20 SERIES 2022,Central Broward Regional Park Stadium Turf Gr...,6 AUG 2022,8:00 PM IST

In [51]:
driver1.close() #closing our browser

# Selenium exception

In [56]:
driver2=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [57]:
driver2.get('http://www.guru99.com/') #opening guru99 website on our browser

In [58]:
#clicking on selenium link
selenium=driver2.find_element_by_xpath("/html/body/footer/div/div[1]/div/div/div/div/div/div/section/div/div/div[2]/div/div/div/div/div[2]/div/div/div[2]/div/div[2]/div/div/div[3]/div/div/div[2]/div/div/a/div[2]/h5")
selenium.click() 
time.sleep(3) #waiting for 3 seconds after click

In [59]:
select_exception=driver2.find_element_by_xpath("/html/body/div[1]/div/div/div/main/div/article/div/div/table[5]/tbody/tr[34]/td[1]/a")
select_exception.click() #selecting exceptional handling

In [60]:
#creating necessary lists 
name_desc=[]
exc_name=[]
exc_desc=[]

In [ ]:
#scraping all the required data and storing in a list
exception=driver2.find_elements_by_xpath("//table[@class='table table-striped']/tbody/tr/td")
for val in exception:
    name_desc.append(val.text)

In [62]:
#slicing and storing corresponding data into its corresponding list
exc_name=name_desc[0::2]
exc_desc=name_desc[1::2]

In [63]:
#creating dataframe with our scraped data
df2=pd.DataFrame({"Exception_name":exc_name,"Description":exc_desc}) 
df2

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [ ]:
driver2.close() #closing our browser

# State-wise GDP of India

In [133]:
driver3=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [134]:
driver3.get('http://statisticstimes.com/') #opening statistics website in our browser
time.sleep(4)

In [138]:
#try accepting cookies
#the driver is usually taking upto 3 tries to accept cookies
for a in range(0,4):
    try:
        accept=driver3.find_element_by_xpath("/html/body/div[1]/div/a")
        accept.click()
    except:pass

In [139]:
eco_dropdown=driver3.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button") #storing economy's xpath
ind=driver3.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]") #storing india's xpath

In [140]:
actions=ActionChains(driver3) #instantiating ActionChains

In [141]:
actions.move_to_element(eco_dropdown).move_to_element(ind).click().perform() #hovering our cursor to economy, then to india and clicking India

In [89]:
#We close ad manually here

In [ ]:
ind_st=driver3.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a")
ind_st.click() #clicking Indian States

In [143]:
#creating necessary lists to store data
state_rank=[]
state=[]
gsdp_19=[]
gsdp_18=[]
gdp=[]
share=[]

In [146]:
#scraping ranks and appending it to rank's list
ranks=driver3.find_elements_by_xpath("//td[@class='data1']")
for val in ranks:
    state_rank.append(val.text) #appending only text
state_rank=state_rank[0:34]

In [147]:
#scraping state names
state_name=driver3.find_elements_by_xpath("//td[@class='name']")
for val in state_name:
    state.append(val.text)#appending only text
state=state[0:34]

In [148]:
#scraping gsdp and storing slicing only required data and storing it
gsdp=driver3.find_elements_by_xpath("//td[@class='data sorting_1']")
for val in gsdp:
    gsdp_18.append(val.text)#appending only text
gsdp_18=gsdp_18[0:33]

In [149]:
#gsdp_19, GDP and Share could be scraped with one xpath 
data=[]
gd=driver3.find_elements_by_xpath("//td[@class='data']")
for val in gd:
    data.append(val.text)#appending only text
gsdp_19=data[0:167:5] #slicing and storing only gsdp_19
gdp=data[2:166:5]  #slicing and storing only GDP
share=data[1:166:5]  #slicing and storing only Share

In [150]:
#scraping total values and storing it
total_gsdp_18=driver3.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tfoot/tr/td[4]")
gsdp_18.append(total_gsdp_18.text)#appending only text
total_share=driver3.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tfoot/tr/td[5]")
share.append(total_share.text)#appending only text
total_gdp=driver3.find_element_by_xpath("/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tfoot/tr/td[6]")
gdp.append(total_gdp.text)#appending only text

In [167]:
print(len(gdp),len(gsdp_18),len(gsdp_19),len(share),len(state_rank),len(state)) #checking length of each list

34 34 34 34 34 34

In [166]:
#creating dataframe with our scraped data
df3=pd.DataFrame({"State":state,"GSDP 19-20":gsdp_19,"GSDP 18-19":gsdp_18,"Share":share,"GDP":gdp},index=state_rank)
df3.index.name='rank'
df3

                          State  GSDP 19-20  GSDP 18-19   Share      GDP
rank
1                   Maharashtra           -   2,632,792  13.94%  399.921
2                    Tamil Nadu   1,845,853   1,630,208   8.63%  247.629
3                 Uttar Pradesh   1,687,818   1,584,764   8.39%  240.726
4                       Gujarat           -   1,502,899   7.96%  228.290
5                     Karnataka   1,631,977   1,493,127   7.91%  226.806
6                   West Bengal   1,253,832   1,089,898   5.77%  165.556
7                     Rajasthan   1,020,989     942,586   4.99%  143.179
8                Andhra Pradesh     972,782     862,957   4.57%  131.083
9                     Telangana     969,604     861,031   4.56%  130.791
10               Madhya Pradesh     906,672     809,592   4.29%  122.977
11                       Kerala           -     781,653   4.14%  118.733
12                        Delhi     856,112     774,870   4.10%  117.703
13                      Haryana     831,610     734,163   3.89%  111.519
14                        Bihar     611,804     530,363   2.81%   80.562
15                       Punjab     574,760     526,376   2.79%   79.957
16                       Odisha     521,275     487,805   2.58%   74.098
17                        Assam           -     315,881   1.67%   47.982
18                 Chhattisgarh     329,180     304,063   1.61%   46.187
19                    Jharkhand     328,598     297,204   1.57%   45.145
20                  Uttarakhand           -     245,895   1.30%   37.351
21              Jammu & Kashmir           -     155,956   0.83%   23.690
22             Himachal Pradesh     165,472     153,845   0.81%   23.369
23                          Goa      80,449      73,170   0.39%   11.115
24                      Tripura      55,984      49,845   0.26%    7.571
25                   Chandigarh           -      42,114   0.22%    6.397
26                   Puducherry      38,253      34,433   0.18%    5.230
27                    Meghalaya      36,572      33,481   0.18%    5.086
28                       Sikkim      32,496      28,723   0.15%    4.363
29                      Manipur      31,790      27,870   0.15%    4.233
30                     Nagaland           -      27,283   0.14%    4.144
31            Arunachal Pradesh           -      24,603   0.13%    3.737
32                      Mizoram      26,503      22,287   0.12%    3.385
33    Andaman & Nicobar Islands           -           -       -        -
                          India  20,351,013  18,886,957            2,869

In [ ]:
driver3.close() #closing our browser

# Trending repositories of Github

In [135]:
driver4=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [136]:
driver4.get('https://github.com/') #opening github website in our browser

In [137]:
explore=driver4.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details") #scraping explore link
trending=driver4.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]") #scraping trending link

In [138]:
actions=ActionChains(driver4) #instantiating ActionChains

In [139]:
actions.move_to_element(explore).click().perform() #hovering to explore and clicking

In [140]:
actions.move_to_element(trending).click().perform() #moving cursor to trending and clicking it

In [141]:
#creating necessary lists
repo_title=[]
repo_desc=[]
language=[]
contributors=[]
repo_link=[]

In [144]:
#scraping repository name and its link
repos=driver4.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for val in repos:
    repo_title.append(val.text.split("/")[1]) #splitting data and storing only repository name 
    repo_link.append(val.get_attribute('href')) #storing link of each repository

In [ ]:
#going to each repo and scraping descreption, contribution and languages used 
for val in repo_link:
    driver4.get(val)
    time.sleep(4)
    try:
        des=driver4.find_element_by_xpath("//p[@class='f4 my-3']")
        repo_desc.append(des.text)
    except:
        repo_desc.append("-")
    try:  #to scrape contributions 4 possible xpaths are there so trying from the most possible xpath to least possible xpath
        contri=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][5]/div/h2/a/span") #most common xpath
        contributors.append(contri.text)
    except NoSuchElementException:
        try:
            contri=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][4]/div/h2/a/span")
            contributors.append(contri.text)
        except NoSuchElementException:
            try:
                contri=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][3]/div/h2/a/span")
                contributors.append(contri.text)
            except NoSuchElementException:
                try:
                    contri=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][2]/div/h2/a/span") #least common xpath
                    contributors.append(contri.text)
                except: #if none of the path is present then it means there is no contribution column, so appending (-) 
                    contributors.append("-")
    try:  #to scrape languages used 4 possible xpaths are there so trying from the most possible xpath to least possible xpath
        lang=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][6]/div/ul") #most common xpath
        language.append(lang.text.replace("\n"," "))
    except NoSuchElementException:
        try:
            lang=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][5]/div/ul")
            language.append(lang.text.replace("\n"," "))
        except NoSuchElementException:
            try:
                lang=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][4]/div/ul")
                language.append(lang.text.replace("\n"," "))
            except NoSuchElementException:
                try:
                    lang=driver4.find_element_by_xpath("//div[@class='BorderGrid-row'][3]/div/ul") #least common xpath
                    language.append(lang.text.replace("\n"," "))
                except: #if none of the path is present then it means there is no language used column, so appending (-) 
                    language.append("-")

In [175]:
print(len(repo_title),len(repo_desc),len(contributors),len(language)) #checking length of each list

25 25 25 25

In [171]:
#creating dataframe with our scraped data
df4=pd.DataFrame({"Repository_title":repo_title,"Description":repo_desc,"Contributors_count":contributors,"Languages_used":language})
df4

,Repository_title,Description,Contributors_count,Languages_used
0,mall4cloud,Springcloud商城 O2O商城 小程序商城 PC商城 H5商城 APP商城 Java...,8,Vue 44.9% Java 39.4% JavaScript 10.0% CSS 4.5%...
1,PlayCover,Community fork of PlayCover,15,Swift 65.5% Objective-C 33.1% Other 1.4%
2,90DaysOfDevOps,This repository is my documenting repository f...,51,Shell 42.9% Go 21.8% Python 10.7% HCL 8.9% Doc...
3,vuejs-forge-boilerplate,Boilerplate Code for the Vue.js Forge Conference,,TypeScript 77.6% JavaScript 9.0% Vue 8.5% HTML...
4,flutter-tips-and-tricks,My Flutter Tips & Tricks on Twitter,2,Dart 100.0%
5,GPU-Puzzles,Solve puzzles. Learn CUDA.,2,Jupyter Notebook 98.8% Python 1.2%
6,frontend-developer-resources,Recursos gratuitos para empezar a ser un Front...,7,
7,springcloud-learning,一套涵盖大部分核心组件使用的Spring Cloud教程，包括Spring Cloud Al...,-,-
8,Flipper,Playground (and dump) of stuff I make or modif...,10,Python 95.2% JavaScript 4.8%
9,OpenBBTerminal,"Investment Research for Everyone, Anywhere.",98,Python 100.0%
10,CSYuTuiMian2022,关于2022年CS保研预推免通知公告的汇总，欢迎大家积极分享预推免信息，资瓷一下互联网精神吼...,2,Sumsky21 zwbrealm
11,nvm,Node Version Manager - POSIX-compliant bash sc...,317,Shell 97.8% Makefile 1.3% Other 0.9%
12,sarama,Sarama is a Go library for Apache Kafka.,222,Go 99.8% Other 0.2%
13,free-programming-books,Freely available programming books,"1,972",
14,bulletproof-react,"A simple, scalable, and powerful architecture ...",26,TypeScript 89.3% JavaScript 8.7% HTML 1.1% Oth...
15,TypeScript,TypeScript is a superset of JavaScript that co...,672,TypeScript 100.0%
16,sds-dsmeta,-,,-
17,googletest,GoogleTest - Google Testing and Mocking Framework,361,C++ 90.1% Python 6.9% CMake 1.1% Other 1.9%
18,awesome-learning,A curated list of awesome learning material,-,-
19,ivy,The Unified Machine Learning Framework,222,Python 99.8% Other 0.2%
20,freeCodeCamp,freeCodeCamp.org's open-source codebase and cu...,"4,485",TypeScript 49.4% JavaScript 44.0% CSS 6.1% She...
21,the-art-of-command-line,"Master the command line, in one page",162,
22,hybridclr,HybridCLR是一个特性完整、零成本、高性能、低内存的近乎完美的Unity全平台原生c#...,2,C++ 100.0%
23,stable-baselines3,"PyTorch version of Stable Baselines, reliable ...",93,Python 99.4% Other 0.6%
24,PaddleOCR,Awesome multilingual OCR toolkits based on Pad...,110,Python 79.3% C++ 14.8% Shell 3.3% Java 1.6% CM...

In [172]:
driver4.close() #closing our browser

# Top 100 songs on billiboard

In [17]:
driver5=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [ ]:
driver5.get('https://www.billboard.com/')#opening billboard site on our browser

In [ ]:
charts=driver5.find_element_by_xpath('/html/body/div[3]/header/div[1]/div/div/div[2]/div/nav/ul/li[1]/a') #clicking chart link
charts.click()
time.sleep(5)

In [ ]:
hot=driver5.find_element_by_xpath("/html/body/div[3]/header/div[2]/div/nav/ul/li[1]/a") #clicking hot 100
hot.click()

In [5]:
#creating necessary lists
listing=[]
listings=[]
song_name=[]
artist_name=[]
peak_rank=[]
last_week=[]
weeks_on_chart=[]

In [6]:
#all required data is scraped with one xpath 
songs=driver5.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']")
for val in songs:
    listing.append(val.text)

In [ ]:
for val in listing: #splitting data based on '\n'
    listings.append(val.split("\n"))

In [11]:
#slicing and storing corresponding data into its list 
for val in range(len(listings)):
    song_name.append(listings[val][0])
    artist_name.append(listings[val][1])
    last_week.append(listings[val][2])
    peak_rank.append(listings[val][3])
    weeks_on_chart.append(listings[val][4])

In [179]:
print(len(song_name),len(artist_name),len(last_week),len(peak_rank),len(weeks_on_chart)) #checking length of each list

100 100 100 100 100

In [15]:
#creating dataframe with our scraped data
df5=pd.DataFrame({"Song_name":song_name,"Artist_name":artist_name,"Last_week":last_week,"Peak_rank":peak_rank,"Weeks_on_chart":weeks_on_chart})
df5.index.name="Rank"
df5.index+=1
df5

,Song_name,Artist_name,Last_week,Peak_rank,Weeks_on_chart
Rank,,,,,
1,As It Was,Harry Styles,1,1,14
2,About Damn Time,Lizzo,3,2,12
3,First Class,Jack Harlow,2,1,13
4,Running Up That Hill (A Deal With God),Kate Bush,6,4,26
5,Wait For U,Future Featuring Drake & Tems,4,1,10
6,Jimmy Cooks,Drake Featuring 21 Savage,5,1,3
7,Me Porto Bonito,Bad Bunny & Chencho Corleone,8,7,9
8,Heat Waves,Glass Animals,9,1,77
9,Break My Soul,Beyonce,7,7,3
10,Big Energy,Latto,11,3,37
11,Titi Me Pregunto,Bad Bunny,12,5,9
12,Wasted On You,Morgan Wallen,14,9,34
13,Hot Shit,"Cardi B, Ye & Lil Durk",-,13,1
14,Glimpse Of Us,Joji,10,8,4
15,Late Night Talking,Harry Styles,18,4,7
16,Stay,The Kid LAROI & Justin Bieber,15,1,52
17,I Like You (A Happier Song),Post Malone Featuring Doja Cat,16,9,5
18,Numb Little Bug,Em Beihold,19,18,23
19,The Kind Of Love We Make,Luke Combs,13,13,3
20,Sunroof,Nicky Youre & dazy,24,20,6
21,Get Into It (Yuh),Doja Cat,23,21,31
22,Ghost,Justin Bieber,21,5,41
23,Boyfriend,Dove Cameron,20,16,21
24,Sticky,Drake,17,6,3
25,Bad Habits,Ed Sheeran,25,2,54
26,Moscow Mule,Bad Bunny,26,4,9
27,Like I Love Country Music,Kane Brown,31,27,7
28,You Proof,Morgan Wallen,36,6,8
29,Cold Heart (PNAU Remix),Elton John & Dua Lipa,28,7,44
30,Enemy,Imagine Dragons X JID,27,5,33
...,...,...,...,...,...
71,Wishful Drinking,Ingrid Andress With Sam Hunt,-,71,1
72,Hotel Lobby (Unc And Phew),Quavo & Takeoff,73,59,7
73,7500 OBO,Tim McGraw,77,73,6
74,To The Moon!,JNR CHOI & Sam Tompkins,69,38,19
75,F.N.F. (Let's Go),Hitkidd & Glorilla,88,75,6
76,Country On,Luke Bryan,-,76,1
77,Whiskey On You,Nate Smith,-,77,3
78,New Truck,Dylan Scott,87,78,4
79,Circles Around This Town,Maren Morris,83,52,24
80,Wild As Her,Corey Kent,89,80,3
81,Love Me More,Sam Smith,85,81,5
82,More,j-hope,-,82,1
83,Numb,Marshmello & Khalid,-,83,1
84,Cash In Cash Out,"Pharrell Williams Featuring 21 Savage & Tyler,...",81,26,4
85,Un Ratito,Bad Bunny,84,16,9
86,Ghost Story,Carrie Underwood,71,61,7
87,Right On,Lil Baby,90,13,13
88,Thought You Should Know,Morgan Wallen,80,12,9
89,Te Felicito,Shakira & Rauw Alejandro,75,67,5
90,She Likes It,Russell Dickerson & Jake Scott,93,63,14
91,Plan B,Megan Thee Stallion,100,29,6
92,Desesperados,Rauw Alejandro & Chencho Corleone,97,91,8
93,La Corriente,Bad Bunny & Tony Dize,-,32,7
94,Bones,Imagine Dragons,-,87,8
95,Until I Found You,Stephen Sanchez,-,95,2
96,Best Thing Since Backroads,Jake Owen,-,96,1
97,U-Digg,"Lil Baby, 42 Dugg & Veeze",82,52,3
98,Unstoppable,Sia,-,98,1
99,Rich Minion,Yeat,-,99,1
100,Bad Habit,Steve Lacy,-,100,1

In [16]:
driver5.close() #closing browser

# Data science recruiters from naukri.com

In [84]:
driver6=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [85]:
driver6.get('https://www.naukri.com/') #opening naukri.com in our website

In [86]:
#creating lists to store scraped data 
skills=[]
location=[]
designation=[]
company=[]
rec_name=[]
recruter_name=[]

In [87]:
inp=driver6.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[1]/div/div/div/input") #entering data science in search bar
inp.send_keys("Data Science")

In [88]:
search_button=driver6.find_element_by_xpath("/html/body/div[1]/div[2]/div[3]/div/div/div[6]")
search_button.click() #hitting search button

In [103]:
rec_button=driver6.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a")
recu=rec_button.get_attribute('href') #scraping recruiters link

In [105]:
driver6.get(recu) #going to recruiters link

In [106]:
rec_input=driver6.find_element_by_xpath("//input[@class='sugInp']")
rec_input.send_keys("Data Science") #entering Data Science in search bar

In [108]:
rec_search=driver6.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
rec_search.click() #hitting search

In [130]:
recruter=driver6.find_elements_by_xpath("//a[@class='ellipsis']") #scraping and storing recruiters name as well as their company's name
for val in recruter:
    rec_name.append(val.text)

In [131]:
#slicing and storingrecruiters name and company's name into their corresponding list 
recruter_name=rec_name[0::2]
company=rec_name[1::2]

In [112]:
desg=driver6.find_elements_by_xpath("//span[@class='ellipsis clr']") #scraping designation 
for val in desg:
    designation.append(val.text) #storing designation

In [113]:
skill=driver6.find_elements_by_xpath("//div[@class='hireSec highlightable']") #scraping skills they hire for and storing it
for val in skill:
    skills.append(val.text)

In [121]:
locat=driver6.find_elements_by_xpath("//small[@class='ellipsis']") #scrapping location and storing it
for val in locat:
    location.append(val.text)

In [122]:
#two recruiters location is'nt mentioned so we inserting (-) inplace of their location
location.insert(49,'-') 
location.insert(29,"-")

In [132]:
print(len(recruter_name),len(designation),len(company),len(location),len(skills)) #checing length of each list

50 50 50 50 50

In [133]:
#creating dataframe 
df6=pd.DataFrame({"Recruiter_name":recruter_name,"Designation":designation,"Company":company,"Location":location,"Skills":skills})
df6

,Recruiter_name,Designation,Company,Location,Skills
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,Vadodara / Baroda,"Analytics, Business Intelligence, Business Ana..."
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Chennai,Data Science
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,Trivandrum,"Machine Learning, algorithms, Go Getter, Compu..."
8,Asif Lucknowi,Director,Weupskill- Live Wire India,Indore,"Technical Training, Software Development, Pres..."
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,Bengaluru / Bangalore,"Software Development, It Sales, Account Manage..."
10,Vaishnavi Kudalkar,HR Executive,Codeachive learning,Mumbai,"Data Science, Python, Data Analytics"
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions,Hyderabad,"Oracle Dba, Data Science, Data Warehousing, ET..."
12,Kalpana Dumpala,Executive Hiring,Innominds Software,Hyderabad / Secunderabad,"Qa, Ui/ux, Java Developer, Java Architect, C++..."
13,Mubarak,Company HR,MoneyTap,Bengaluru / Bangalore,"Business Intelligence, Data Warehousing, Data ..."
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,Mumbai,"Office Administration, Hr Administration, tele..."
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,Hyderabad / Secunderabad,"Social Media, digital media maketing, seo, smm..."
16,Kapil Devang,HR Manager,BISP Solutions,Bhopal,"Big Data, Hadoop, Data Analytics, Data Science"
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,Chandigarh,"React.js, Data Science, Java, Front End, Busin..."
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,Pune,"Qlikview, Qlik Sense, Microsoft Azure, Power B..."
19,Manisha Yadav,HR Executive,Easi Tax,Navi Mumbai,"Telecalling, Client Interaction, Marketing, Re..."
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Cochin,Data Science
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,Delhi,"Corporate Sales, Software Development, Softwar..."
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Hyderabad / Secunderabad,"Data Analytics, Data Science, Machine Learning..."
23,Rithika dadwal,HR Recruiter,Affine Analytics,Pune,"Data Science, Machine Learning, Python, R, Dee..."
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Pune,"Big Data, Data Science, Artificial Intelligenc..."
25,Shaun Rao,Manager Human Resources,Exela Technologies,Pune,"Java, Net, Angularjs, Hr, Infrastructure, Mana..."
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Pune,"Data Science, Artificial Intelligence, Machine..."
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,Bengaluru / Bangalore,"Software Architecture, Vp Engineering, Product..."
28,kumar,Proprietor,trainin,Bengaluru / Bangalore,"Data Science, Hadoop, Rpas, Devops, Python, Aw..."
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,-,"Signal Processing, Machine Learning, Neural Ne..."
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,Delhi,"Web Technologies, Project Management, Software..."
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,Bengaluru / Bangalore,"Server Administartion, Verilog, Vhdl, Digital ..."
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd",Mysoru / Mysore,"Data Analytics, Managed Services, Team Leading..."
33,Avodha,Business Development Associate,Nikitha Palaparthi,Hyderabad / Secunderabad,"Ethical Hacking, Security Operations Center, S..."
34,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,Hyderabad / Secunderabad,"Data Science, Machine Learning, Big Data Analy..."
35,Priya Khare,Senior Manager,Independent Consultant,Bengaluru / Bangalore,"Data Science, Artificial Intelligence, analyti..."
36,Amit Sharma,Consultant,ASCO consulting,New Delhi,"Machine Learning, Artificial Intelligence, Dat..."
37,Kanan,senior technology instructor,NY INST,Chennai,"C, C++, Artificial Intelligence, Python, Php, ..."
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,Aligarh,"Relationship Management, Retail Sales, Private..."
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,Salt Lake City,"Data Science, Software Engineering"
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,Pune,"Data Science, Big Data Analytics, Digital Mark..."
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,Bengaluru / Bangalore,"Data Science, Recruitment, Salary"
42,Ankit Sinha,Head Analytics,Suntech Global,Mumbai,"B.Tech, Tableau, Statistics, R, Analytics, Tim..."
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Indore,"Software Development, Business Intelligence, B..."
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Bengaluru / Bangalore,"Data Science, Node.js, Angularjs"
45,Ashwini,Director Global Delivery,MRP Advisers,MYSORE,"Data Science, Media Marketing, Resource Planni..."
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,Hyderabad / Secunderabad,"Data Analysis, Learning, Data Science, Compute..."
47,Rajani Nagaraj,HR Manager,WildJasmine,Bengaluru / Bangalore,"Java, Hadoop, R, Machine Learning, Spark, Flum..."
48,ROHIT Kumar,Architect,LNT Private Limited,Mumbai,"Software Development, Core Java, Unit Testing,..."
49,Amir Chowdhury,Managing Partner,Granular.ai,-,"Machine Learning, Data Science, Product Manage..."

In [134]:
driver6.close() #closing our browser

# Highest selling novels

In [75]:
driver7=webdriver.Chrome("C:\webdriver\chromedriver.exe") #initialising chrome browser

In [77]:
driver7.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [78]:
#creating necessary lists
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
book_genre=[]

In [79]:
books=[] #storing books all details 
book=driver7.find_elements_by_xpath("//td[@class='left']")
for val in book:
    books.append(val.text)

In [80]:
genr=driver7.find_elements_by_xpath("//td[@class='last left']") # scraping and storing genre
for val in genr:
    book_genre.append(val.text)

In [81]:
#slicing corresponding data into its list
book_name=books[1::5]
author_name=books[2::5]
volumes_sold=books[3::5]
publisher=books[4::5]

In [180]:
print(len(book_name),len(author_name),len(volumes_sold),len(publisher),len(book_genre)) #checking length of each list

100 100 100 100 100

In [82]:
#creating dataframe from our scraped data
df7=pd.DataFrame({"Book_Name":book_name,"Author_name":author_name,"Volumes_Sold":volumes_sold,"Publisher":publisher,"Genre":book_genre})
df7

,Book_Name,Author_name,Volumes_Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
5,Harry Potter and the Goblet of Fire,"Rowling, J.K.","3,583,215",Bloomsbury,Children's Fiction
6,Harry Potter and the Chamber of Secrets,"Rowling, J.K.","3,484,047",Bloomsbury,Children's Fiction
7,Harry Potter and the Prisoner of Azkaban,"Rowling, J.K.","3,377,906",Bloomsbury,Children's Fiction
8,Angels and Demons,"Brown, Dan","3,193,946",Transworld,"Crime, Thriller & Adventure"
9,Harry Potter and the Half-blood Prince:Childre...,"Rowling, J.K.","2,950,264",Bloomsbury,Children's Fiction
10,Fifty Shades Darker,"James, E. L.","2,479,784",Random House,Romance & Sagas
11,Twilight,"Meyer, Stephenie","2,315,405","Little, Brown Book",Young Adult Fiction
12,"Girl with the Dragon Tattoo,The:Millennium Tri...","Larsson, Stieg","2,233,570",Quercus,"Crime, Thriller & Adventure"
13,Fifty Shades Freed,"James, E. L.","2,193,928",Random House,Romance & Sagas
14,"Lost Symbol,The","Brown, Dan","2,183,031",Transworld,"Crime, Thriller & Adventure"
15,New Moon,"Meyer, Stephenie","2,152,737","Little, Brown Book",Young Adult Fiction
16,Deception Point,"Brown, Dan","2,062,145",Transworld,"Crime, Thriller & Adventure"
17,Eclipse,"Meyer, Stephenie","2,052,876","Little, Brown Book",Young Adult Fiction
18,"Lovely Bones,The","Sebold, Alice","2,005,598",Pan Macmillan,General & Literary Fiction
19,"Curious Incident of the Dog in the Night-time,The","Haddon, Mark","1,979,552",Random House,General & Literary Fiction
20,Digital Fortress,"Brown, Dan","1,928,900",Transworld,"Crime, Thriller & Adventure"
21,"Short History of Nearly Everything,A","Bryson, Bill","1,852,919",Transworld,Popular Science
22,"Girl Who Played with Fire,The:Millennium Trilogy","Larsson, Stieg","1,814,784",Quercus,"Crime, Thriller & Adventure"
23,Breaking Dawn,"Meyer, Stephenie","1,787,118","Little, Brown Book",Young Adult Fiction
24,"Very Hungry Caterpillar,The:The Very Hungry Ca...","Carle, Eric","1,783,535",Penguin,Picture Books
25,"Gruffalo,The","Donaldson, Julia","1,781,269",Pan Macmillan,Picture Books
26,Jamie's 30-Minute Meals,"Oliver, Jamie","1,743,266",Penguin,Food & Drink: General
27,"Kite Runner,The","Hosseini, Khaled","1,629,119",Bloomsbury,General & Literary Fiction
28,One Day,"Nicholls, David","1,616,068",Hodder & Stoughton,General & Literary Fiction
29,"Thousand Splendid Suns,A","Hosseini, Khaled","1,583,992",Bloomsbury,General & Literary Fiction
...,...,...,...,...,...
70,Stupid White Men:...and Other Sorry Excuses fo...,"Moore, Michael","963,353",Penguin,Current Affairs & Issues
71,"Interpretation of Murder,The","Rubenfeld, Jed","962,515",Headline,"Crime, Thriller & Adventure"
72,Sharon Osbourne Extreme:My Autobiography,"Osbourne, Sharon","959,496","Little, Brown Book",Autobiography: The Arts
73,"Alchemist,The:A Fable About Following Your Dream","Coelho, Paulo","956,114",HarperCollins,General & Literary Fiction
74,At My Mother's Knee ...:and Other Low Joints,"O'Grady, Paul","945,640",Transworld,Autobiography: The Arts
75,Notes from a Small Island,"Bryson, Bill","931,312",Transworld,Travel Writing
76,"Return of the Naked Chef,The","Oliver, Jamie","925,425",Penguin,Food & Drink: General
77,Bridget Jones: The Edge of Reason,"Fielding, Helen","924,695",Pan Macmillan,General & Literary Fiction
78,Jamie's Italy,"Oliver, Jamie","906,968",Penguin,National & Regional Cuisine
79,I Can Make You Thin,"McKenna, Paul","905,086",Transworld,Fitness & Diet
80,Down Under,"Bryson, Bill","890,847",Transworld,Travel Writing
81,"Summons,The","Grisham, John","869,671",Random House,"Crime, Thriller & Adventure"
82,Small Island,"Levy, Andrea","869,659",Headline,General & Literary Fiction
83,Nigella Express,"Lawson, Nigella","862,602",Random House,Food & Drink: General
84,Brick Lane,"Ali, Monica","856,540",Transworld,General & Literary Fiction
85,"Memory Keeper's Daughter,The","Edwards, Kim","845,858",Penguin,General & Literary Fiction
86,Room on the Broom,"Donaldson, Julia","842,535",Pan Macmillan,Picture Books
87,About a Boy,"Hornby, Nick","828,215",Penguin,General & Literary Fiction
88,My Booky Wook,"Brand, Russell","820,563",Hodder & Stoughton,Autobiography: The Arts
89,"God Delusion,The","Dawkins, Richard","816,907",Transworld,Popular Science
90,"""Beano"" Annual,The",0,"816,585",D.C. Thomson,Children's Annuals
91,White Teeth,"Smith, Zadie","815,586",Penguin,General & Literary Fiction
92,"House at Riverton,The","Morton, Kate","814,370",Pan Macmillan,General & Literary Fiction
93,"Book Thief,The","Zusak, Markus","809,641",Transworld,General & Literary Fiction
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,General & Literary Fiction
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [83]:
driver7.close() #closing our browser

# Most watched tv series of all time from imdb.com

In [62]:
driver8=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [63]:
driver8.get('https://www.imdb.com/list/ls095964455/') #opening imdb site in our browser

In [64]:
#creating necessary lists
series_name=[]
ratings=[]
votes=[]
year_span=[]
genre=[]
run_time=[]

In [65]:
ser_name=driver8.find_elements_by_xpath("//h3[@class='lister-item-header']/a") #scraping and storing series name
for val in ser_name:
    series_name.append(val.text)

In [67]:
rate=driver8.find_elements_by_xpath("//div[@class='ipl-rating-star small']/span[2]") #scraping and storing ratings
for val in rate:
    ratings.append(val.text)

In [ ]:
gen=driver8.find_elements_by_xpath("//span[@class='genre']") #scraping and storing genres
for val in gen:
    genre.append(val.text)

In [70]:
year=driver8.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']") #scraping and storing years
for val in year:
    year_span.append(val.text)

In [71]:
run=driver8.find_elements_by_xpath("//span[@class='runtime']") #scraping and storing runtime
for val in run:
    run_time.append(val.text)

In [72]:
vot=driver8.find_elements_by_xpath("//span[@name='nv']") #scraping and storing number of votes
for val in vot:
    votes.append(val.text)

In [181]:
print(len(series_name),len(year_span),len(genre),len(run_time),len(ratings),len(votes)) #checking length of each list

100 100 100 100 100 100

In [73]:
#creating dataframe with our scraped data
df8=pd.DataFrame({"Series_Name":series_name,"Year_span":year_span,"Genre":genre,"Run_time":run_time,"Rating":ratings,"Votes":votes})
df8

,Series_Name,Year_span,Genre,Run_time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,008,298"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,086,764"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"954,713"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"285,408"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"245,076"
5,Orange Is the New Black,(2013–2019),"Comedy, Crime, Drama",59 min,8.1,"297,577"
6,Riverdale,(2017– ),"Crime, Drama, Mystery",45 min,6.6,"140,815"
7,Grey's Anatomy,(2005– ),"Drama, Romance",41 min,7.6,"298,317"
8,The Flash,(2014– ),"Action, Adventure, Drama",43 min,7.6,"340,658"
9,Arrow,(2012–2020),"Action, Adventure, Crime",42 min,7.5,"427,511"
10,Money Heist,(2017–2021),"Action, Crime, Drama",70 min,8.2,"462,051"
11,The Big Bang Theory,(2007–2019),"Comedy, Romance",22 min,8.2,"788,865"
12,Black Mirror,(2011–2019),"Drama, Mystery, Sci-Fi",60 min,8.8,"524,597"
13,Sherlock,(2010–2017),"Crime, Drama, Mystery",88 min,9.1,"901,075"
14,Vikings,(2013–2020),"Action, Adventure, Drama",44 min,8.5,"514,886"
15,Pretty Little Liars,(2010–2017),"Drama, Mystery, Romance",44 min,7.4,"164,451"
16,The Vampire Diaries,(2009–2017),"Drama, Fantasy, Horror",43 min,7.7,"313,789"
17,American Horror Story,(2011– ),"Drama, Horror, Sci-Fi",60 min,8,"309,069"
18,Breaking Bad,(2008–2013),"Crime, Drama, Thriller",49 min,9.5,"1,767,407"
19,Lucifer,(2016–2021),"Crime, Drama, Fantasy",42 min,8.1,"312,240"
20,Supernatural,(2005–2020),"Drama, Fantasy, Horror",44 min,8.4,"433,091"
21,Prison Break,(2005–2017),"Action, Crime, Drama",44 min,8.3,"522,011"
22,How to Get Away with Murder,(2014–2020),"Crime, Drama, Mystery",43 min,8.1,"148,315"
23,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"144,456"
24,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"398,478"
25,Once Upon a Time,(2011–2018),"Adventure, Fantasy, Romance",60 min,7.7,"221,669"
26,Narcos,(2015–2017),"Biography, Crime, Drama",49 min,8.8,"409,504"
27,Daredevil,(2015–2018),"Action, Crime, Drama",54 min,8.6,"425,078"
28,Friends,(1994–2004),"Comedy, Romance",22 min,8.9,"962,525"
29,How I Met Your Mother,(2005–2014),"Comedy, Romance",22 min,8.3,"668,248"
...,...,...,...,...,...,...
70,Under the Dome,(2013–2015),"Drama, Mystery, Sci-Fi",43 min,6.5,"105,858"
71,The Umbrella Academy,(2019–2022),"Action, Adventure, Comedy",60 min,8,"225,102"
72,True Detective,(2014–2019),"Crime, Drama, Mystery",55 min,8.9,"553,175"
73,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"102,942"
74,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"126,931"
75,Better Call Saul,(2015–2022),"Crime, Drama",46 min,8.8,"431,620"
76,Bates Motel,(2013–2017),"Drama, Horror, Mystery",45 min,8.2,"106,120"
77,The Punisher,(2017–2019),"Action, Crime, Drama",53 min,8.5,"224,715"
78,Atypical,(2017–2021),"Comedy, Drama",30 min,8.3,"84,979"
79,Dynasty,(2017–2022),Drama,42 min,7.2,"21,565"
80,This Is Us,(2016–2022),"Comedy, Drama, Romance",45 min,8.7,"139,016"
81,The Good Place,(2016–2020),"Comedy, Drama, Fantasy",22 min,8.2,"152,215"
82,Iron Fist,(2017–2018),"Action, Adventure, Crime",55 min,6.4,"128,342"
83,The Rain,(2018–2020),"Drama, Sci-Fi, Thriller",45 min,6.3,"36,332"
84,Mindhunter,(2017–2019),"Crime, Drama, Mystery",60 min,8.6,"274,207"
85,Revenge,(2011–2015),"Drama, Mystery, Thriller",44 min,7.8,"119,316"
86,Luke Cage,(2016–2018),"Action, Crime, Drama",55 min,7.3,"128,720"
87,Scandal,(2012–2018),"Drama, Thriller",43 min,7.7,"72,968"
88,The Defenders,(2017),"Action, Adventure, Crime",50 min,7.2,"104,819"
89,Big Little Lies,(2017–2019),"Crime, Drama, Mystery",60 min,8.5,"191,882"
90,Insatiable,(2018–2019),"Comedy, Drama, Thriller",45 min,6.5,"27,898"
91,The Mentalist,(2008–2015),"Crime, Drama, Mystery",43 min,8.1,"181,548"
92,The Crown,(2016– ),"Biography, Drama, History",58 min,8.7,"193,712"
93,Chernobyl,(2019),"Drama, History, Thriller",330 min,9.4,"712,183"
94,iZombie,(2015–2019),"Comedy, Crime, Drama",42 min,7.8,"67,097"
95,Reign,(2013–2017),Drama,42 min,7.4,"49,077"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"59,879"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"192,144"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"40,572"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"231,030"

In [74]:
driver8.close() #closing our browser

# Datasets from UCI machine learning repositories

In [39]:
driver9=webdriver.Chrome('C:\webdriver\chromedriver.exe') #initialising chrome browser

In [41]:
driver9.get('https://archive.ics.uci.edu/')#opening billboard site on our browser

In [42]:
show_all=driver9.find_element_by_xpath("/html/body/table[1]/tbody/tr/td[2]/span[2]/a") #clicking on view all datasets
show_all.click()

In [43]:
#creating necessary lists
dataset_name=[]
data_type=[]
task=[]
attribute_type=[]
no_of_instances=[]
no_of_attribute=[]
year=[]

In [ ]:
#scraping datasets name
data_name=driver9.find_elements_by_xpath("//p[@class='normal']/b")
for val in data_name:
    dataset_name.append(val.text)

In [ ]:
#rest of the data could be scraped with just one xpath 
rest_data=[]
all_data=driver9.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td/p")
for val in all_data:
    rest_data.append(val.text)

In [51]:
#slicing and storing corresponding data into its list
data_type=rest_data[7::6]
task=rest_data[8::6]
attribute_type=rest_data[9::6]
no_of_instances=rest_data[10::6]
no_of_attribute=rest_data[11::6]
year=rest_data[12::6]
print(len(data_type),len(task),len(attribute_type),len(no_of_instances),len(no_of_attribute),len(year)) #checking length of each list

622 622 622 622 622 622

In [60]:
#creating dataframe from our scraped data
df9=pd.DataFrame({"Dataset_Name":dataset_name,"Data_Type":data_type,"Task":task,"Attribute_Types":attribute_type,"no_of_instances":no_of_instances,"no_of_attribute":no_of_attribute,"Year":year})
df9

,Dataset_Name,Data_Type,Task,Attribute_Types,no_of_instances,no_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
5,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
6,Audiology (Original),Multivariate,Classification,Categorical,226,,1987
7,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
8,Auto MPG,Multivariate,Regression,"Categorical, Real",398,8,1993
9,Automobile,Multivariate,Regression,"Categorical, Integer, Real",205,26,1987
10,Badges,"Univariate, Text",Classification,,294,1,1994
11,Balance Scale,Multivariate,Classification,Categorical,625,4,1994
12,Balloons,Multivariate,Classification,Categorical,16,4,
13,Breast Cancer,Multivariate,Classification,Categorical,286,9,1988
14,Breast Cancer Wisconsin (Original),Multivariate,Classification,Integer,699,10,1992
15,Breast Cancer Wisconsin (Prognostic),Multivariate,"Classification, Regression",Real,198,34,1995
16,Breast Cancer Wisconsin (Diagnostic),Multivariate,Classification,Real,569,32,1995
17,Pittsburgh Bridges,Multivariate,Classification,"Categorical, Integer",108,13,1990
18,Car Evaluation,Multivariate,Classification,Categorical,1728,6,1997
19,Census Income,Multivariate,Classification,"Categorical, Integer",48842,14,1996
20,Chess (King-Rook vs. King-Knight),"Multivariate, Data-Generator",Classification,"Categorical, Integer",,22,1988
21,Chess (King-Rook vs. King-Pawn),Multivariate,Classification,Categorical,3196,36,1989
22,Chess (King-Rook vs. King),Multivariate,Classification,"Categorical, Integer",28056,6,1994
23,Chess (Domain Theories),Domain-Theory,,,,,
24,Bach Chorales,"Univariate, Time-Series",,"Categorical, Integer",100,6,
25,Connect-4,"Multivariate, Spatial",Classification,Categorical,67557,42,1995
26,Credit Approval,Multivariate,Classification,"Categorical, Integer, Real",690,15,
27,Japanese Credit Screening,"Multivariate, Domain-Theory",Classification,"Categorical, Real, Integer",125,,1992
28,Computer Hardware,Multivariate,Regression,Integer,209,9,1987
29,Contraceptive Method Choice,Multivariate,Classification,"Categorical, Integer",1473,9,1997
...,...,...,...,...,...,...,...
592,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021
593,Pedal Me Bicycle Deliveries,Time-Series,Regression,Real,36,15,2021
594,Turkish Headlines Dataset,Text,"Classification, Clustering",,4200,7,2021
595,Secondary Mushroom Dataset,Univariate,Classification,Real,61069,21,2021
596,Power consumption of Tetouan city,"Multivariate, Time-Series",Regression,"Integer, Real",52417,9,2021
597,Raisin Dataset,Multivariate,Classification,"Integer, Real",900,8,2021
598,Steel Industry Energy Consumption Dataset,Multivariate,Regression,,35040,11,2021
599,Gender Gap in Spanish WP,Multivariate,Classification,"Integer, Real",4746,21,2021
600,Non verbal tourists data,Multivariate,"Classification, Clustering","Integer, Real",73,22,2021
601,Roman Urdu Sentiment Analysis Dataset (RUSAD),Text,Classification,,11000,2,2021
602,TUANDROMD ( Tezpur University Android Malware ...,Multivariate,Classification,Integer,4465,241,2021
603,Higher Education Students Performance Evaluati...,Multivariate,Classification,Integer,145,33,2021
604,Risk Factor prediction of Chronic Kidney Disease,Multivariate,"Classification, Regression",Real,202,29,2021
605,Lab Test,Multivariate,"Classification, Regression, Clustering",,221,7,2021
606,Shoulder Implant Manufacture Classification,Multivariate,Classification,,597,1,2020
607,Rocket League Skillshots Data Set,"Multivariate, Time-Series",Classification,Real,298,,2020
608,Sepsis survival minimal clinical records,Multivariate,Classification,Integer,110341,4,2020
609,Water Quality Prediction,Multivariate,Regression,Real,705,11,2020
610,Traffic Flow Forecasting,Multivariate,Regression,Real,2101,47,2020
611,sentiment analysis in Saudi Arabia about dista...,Text,Classification,Integer,1765,10,2020
612,Kain Tradisional Sambas,Multivariate,"Classification, Clustering",,150,3,2020
613,Image Recognition Task Execution Times in Mobi...,"Univariate, Sequential, Time-Series",Regression,Real,4000,2,2020
614,REWEMA,Multivariate,Classification,Integer,6272,632,2020
615,REJAFADA,Multivariate,Classification,Integer,1996,6826,2020
616,Steel Industry Energy Consumption Dataset,Multivariate,Regression,Integer,35040,11,2020
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

In [61]:
driver9.close() #closing our browser